body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-btn {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    display: block;
    box-sizing: border-box;
    background-color: #ecf0f1;
    color: black;
}

    .nav-btn:hover {
        background-color: #fdcb6e;
        color: dimgray;
    }

.navbar-padding {
    padding: 0px;
}

.navbar-background {
    background-color: #ecf0f1;
}



.disable-text-decoration {
    text-decoration: none;
}

    .disable-text-decoration:hover {
        text-decoration: none;
    }

.my-no-gutters {
    padding-right: 0;
    padding-left: 0;
}
