@{
    ViewBag.Title = "Home Page";
}
<div class="baner">
    <h1 class="text-center" style="padding-top:100px; padding-bottom:50px;">Арендуй авто за пару минут!</h1>
</div>
<div class="slider">
    <div class="slide-list">
        <div class="slide-wrap">
            <p class="text-center">Class name</p>
            <div class="slide-item">
                <img src="~/Content/TestImages/532896-724-280x210.jpg" alt="" />
                <p class="text-center">simillar</p>
                <table>
                    <tr>
                        <td style="padding-right:10px;">
                            <img src="~/Content/Icons/Seats.png" />
                            Места
                        </td>
                        <td>
                            <img src="~/Content/Icons/Doors.png" />
                            Дверей
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Content/Icons/Gearbox.png" />
                        </td>
                        <td>
                            <img src="~/Content/Icons/Luggage.png" />
                        </td>
                    </tr>

                </table>
            </div>
            <div class="slide-item text-center">
                <img src="~/Content/TestImages/532896-724-280x210.jpg" alt="" />
                <p class="text-center">simillar</p>
                <table >
                    <tr>
                        <td style="padding-right:10px;" class="text-center">
                            <img src="~/Content/Icons/Seats.png" />
                            Места
                        </td>
                        <td>
                            <img src="~/Content/Icons/Doors.png" />
                            Дверей
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Content/Icons/Gearbox.png" />
                        </td>
                        <td>
                            <img src="~/Content/Icons/Luggage.png" />
                        </td>
                    </tr>

                </table>
            </div>
            <div class="slide-item">
                <img src="~/Content/TestImages/532896-724-280x210.jpg" alt="" />
                <p class="text-center">simillar</p>
                <table>
                    <tr>
                        <td style="padding-right:10px;">
                            <img src="~/Content/Icons/Seats.png" />
                            Места
                        </td>
                        <td>
                            <img src="~/Content/Icons/Doors.png" />
                            Дверей
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Content/Icons/Gearbox.png" />
                        </td>
                        <td>
                            <img src="~/Content/Icons/Luggage.png" />
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="clear-fl"></div>
    </div>
    <div name="next-slide" class="nav-elem next-slide"></div>
    <div name="prev-slide" class="nav-elem prev-slide"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        function htmSlider() {
            /* Зададим следующие параметры */
            /* обертка слайдера */
            var slideWrap = jQuery('.slide-wrap');
            /* кнопки вперед/назад и старт/пауза */
            var nextLink = jQuery('.next-slide');
            var prevLink = jQuery('.prev-slide');
            /* Проверка на анимацию */
            var is_animate = false;
            /* ширина слайда с отступами */
            var slideWidth = jQuery('.slide-item').outerWidth();
            /* смещение слайдера */
            var scrollSlider = slideWrap.position().left - slideWidth;

            /* Клик по ссылке на следующий слайд */
            nextLink.click(function () {
                if (!slideWrap.is(':animated')) {
                    slideWrap.animate({ left: scrollSlider }, 500, function () {
                        slideWrap
                            .find('.slide-item:first')
                            .appendTo(slideWrap)
                            .parent()
                            .css({ 'left': 0 });
                    });
                }
            });

            /* Клик по ссылке на предыдующий слайд */
            prevLink.click(function () {
                if (!slideWrap.is(':animated')) {
                    slideWrap
                        .css({ 'left': scrollSlider })
                        .find('.slide-item:last')
                        .prependTo(slideWrap)
                        .parent()
                        .animate({ left: 0 }, 500);
                }
            });

        }

        /* иницилизируем функцию слайдера */
        htmSlider();
    });
</script>